body {
  margin: 0;
  padding: 0;
}
.App {
  min-height: 100%;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;
  box-sizing: border-box;
}
.danger {
  background-color: #da421f;
}
.blue {
  background-color: #02a0e7;
}
.light-blue {
  background-color: #00bff3;
}
.dark-blue {
  background-color: #1b78c7;
}
.green {
  background-color: #67b807;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
